.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.modal__title {
  margin-bottom: 28px;
  margin-top: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.modal_opened {
  visibility: visible;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  color: #0000004d;
  width: 20px;
  height: 20px;
  opacity: 1;
  background-color: transparent;
  border: none;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__content {
  height: auto;
  max-height: 600px;
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px 28px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #0000004d;
  display: flex;
  flex-direction: column;
}

.modal__form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid #000000;
  min-width: 100%;
  margin-bottom: 24px;
  margin-top: 8px;
  padding: 0;
  background-color: transparent;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 173px;
  height: 108px;
  opacity: 1;
  gap: 8px;
  margin: 0;
}

.modal__label_type_radio {
  color: #00000080;
  display: flex;
  align-items: center;
}
.modal__label_type_radio:hover {
  cursor: pointer;
}
.modal__label_type_radio:has(.modal__radio-input:checked) {
  color: #000;
}

.modal__radio-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border: 1px solid #00000080;
  border-radius: 50%;
}
.modal__radio-input:hover {
  cursor: pointer;
}
.modal__radio-input:checked {
  width: 16px;
  height: 16px;
  background-image: url(../../assets/ellipse.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  border: 1px solid #000;
}
.modal__submit {
  width: 124px;
  height: 36px;
  margin-top: 32px;
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 0;
}

.modal__submit:hover {
  cursor: pointer;
  background: #00000099;
}
.modal__submit:disabled {
  background-color: #bdbdbd;
  color: #fff;
  cursor: not-allowed;
}

/* prevent hover when disabled */
.modal__submit:hover:not(:disabled) {
  background-color: #00000099;
}

.modal__input_error {
  border-bottom-color: #ff4d00;
}

.modal__error {
  display: block;
  color: #ff4d00;
  font-size: 14px;
  line-height: 17px;
  margin-top: -20px;
  margin-bottom: 24px;
}
