

.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid black;
  cursor: pointer;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
 left: 673px;

}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  background-color: black;
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  transition: all 0.4s;
}
.toggle-switch__text {
  position: absolute;
  top: 5px;
  color: #00000080;
}

.toggle-switch__text_F {
  left: 9px;
}

.toggle-switch__text_C {
  right: 9px;
}
.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

.toggle-switch__checkbox:not(:checked) ~ .toggle-switch__text_F {
  color: white;
  transform: translateX();
  mix-blend-mode: darken;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_C {
  color: white;
}
