.card {
  max-width: 323px;
  max-height: 326px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid #0000004d;
  border-radius: 10px;

  
}
.card__name {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 15px;
  margin: 0;
  width: max-content;
  height: 24px;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #00000099;

}
.card__image {
  width: 100%;
}

.card__image:hover {
  cursor: pointer;
}
