.cards__list {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-gap: 21px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
}
