.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  color: #000000;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  line-height: 100%;
}
.header__logo {
  margin-right: 24px;
}
.header__date-and-location {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  font-size: 20px;
  line-height: 24px;
  border: none;
  cursor: pointer;
}
.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-size: 20px;
  border: none;
  line-height: 100%;
}

.header__nav-link {
  text-decoration: none;
  color: black;
}
.header__avatar{
  width: 40px;
height: 40px;
object-fit: cover;
display: block;
/*background-image: url("../../assets/defaultAvatar.png")*/
}

.header__avatar_placeholder{
width: 40px;
height: 40px;
background-color:rgba(0, 0, 0, 0.2);
border: 2px solid rgba(0, 0, 0, 0.2);
border-radius: 50%;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
font-size: 20px;
line-height: 20px;
}