.sidebar__user-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 15px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  max-width: 229px;
  height: 56px;
}
.sidebar__username {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  border: none;
  line-height: 100%;
  height: 25px;
  white-space: nowrap;
  min-width: 0;
  flex: 1;
}
.sidebar__avatar {
  height: 56px;
  width: 56px;
  margin-left: 12px;
}
.sidebar__avatar_placeholder {
  width: 56px;
  height: 56px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 20px;
}
