.footer {
  display: flex;
  justify-content: space-between;
  color: #000000;
  opacity: 1;
  padding: 171px 2px 24px 0;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 500;
}

.footer__name {
  margin: 0;
  padding: 0;
}

.footer__date {
  margin: 0;
  padding: 0;
}
