.clothes-section {
  flex-grow: 1;
  max-width: 1015px;
}

.clothes-section__row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;
  margin-top: 63px;
  padding: 0;
}

.clothes-section__text {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: black;
  line-height: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.clothes-section__button {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #00000099;
  width: max-content;
  height: 25px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.clothes-section__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.clothes-section__list {
  display: grid;
  grid-template-columns: repeat(4, 326px);
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-gap: 21px;
  max-width: 1015px;
}
